.row div {
    padding: 100px;
    border: 1px solid black;
    height: 80px;
    width: 80px;
    float: left;
    font-size: 80px;
    text-align: center;
    background-color: grey;
  }

body {
    color: rgb(243, 0, 0);
    background-color: black;
  }

.row {
    clear: both;
    color:black;
    display:flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    inline-size: 266px;
   
  }

.click-to-play {
    font-size: 199;
    font-family: fantasy;
  }

.header{
  display: flex;
  justify-content: center;
  color: grey;
  margin-left: 10px;
  font-size: x-large;
  font-family: sans-serif;
}
.board{
  display: flex;
  justify-content: center;
  margin-left: 10px;
  flex-wrap: wrap;
}