.row div {
    padding: 100px;
    border: 1px solid black;
    height: 80px;
    width: 80px;
    float: left;
    font-size: 80px;
    text-align: center;
    background-color:rgb(5,59,61);
    border: 3px solid rgb(68, 68, 123);
    margin: 2px;
    border-radius:3%;
  }

body {
    color: rgb(243, 0, 0);
    background-color: rgb(38, 43, 46);
  }

.row {
    clear: both;
    color:rgb(136, 136, 188);
    display:flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    inline-size: 266px;

    
  }

.click-to-play {
    font-size: 199;
    font-family: fantasy;
  }

.header{
  display: flex;
  justify-content: center;
  color: #5d2393;
  margin-left: 10px;
  font-size: 52px;
  font-family: sans-serif;
  margin-top: 20px;
  
}
.board{
  display: flex;
  justify-content: center;
  margin-left: 10px;
  flex-wrap: wrap;
}